<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiwo.fuzhoudian">
    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" ></activity>
        <activity android:name=".pages.ShangPinLabelEditActivity" />
        <activity android:name=".pages.ShopLocationActivity" />
        <activity android:name=".pages.MyClipImageActivity" />
        <activity android:name=".pages.webpages.GuanLiGoodsWebActivity" />
        <activity android:name=".pages.webpages.OrderInfoWebActivity" />
        <activity android:name=".pages.PeiSongSettingActivity" /> <!-- —————————————————————网易云视频——————————————————————— -->
        <activity
            android:name=".wangyiyunshipin.ShortVideoEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".wangyiyunshipin.VideoImportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnchanged" />
        <activity
            android:name=".wangyiyunshipin.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 用于HMS SDK引导升级HMS APK，提供给系统安装器读取升级文件 -->
        <activity android:name=".wangyiyunshipin.VideoUpLoadListActivity" /> <!-- ___________________________________________________________________________________________________ -->
        <activity android:name=".pages.ShopHomeActivity" />
        <activity android:name=".pages.creatyouji.CreateYouJiActivity" />
        <activity android:name=".pages.creatyouji.CreateYouJiAddInfoActivity" />
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".pages.SetActivity" />
        <activity android:name=".pages.FeedbackActivity" />
        <activity android:name=".pages.MyPicturesActivity" />
        <activity android:name=".imagepreview.ImagePreviewActivity" />
        <activity android:name=".pages.UserAgreementActivity" />
        <activity android:name=".pages.MyVideosActivity" />
        <activity android:name=".pages.BlackUserActivity" />
        <activity android:name=".pages.FindFriendByTelActivity" />
        <activity android:name=".pages.MyContactActivity" />
        <activity android:name=".pages.MyCommentActivity" />
        <activity android:name=".pages.MyInformationActivity" />
        <activity android:name=".pages.RealNameActivity" />
        <activity android:name=".pages.FaBu_XiuGaiShangPinActivity" />
        <activity android:name=".pages.ShangPinServiceEditActivity" />
        <activity android:name=".pages.webpages.DuiZhangShangPuWebActivity" />
        <activity android:name=".pages.MessageActivity" />
        <activity android:name=".pages.ZAndScActivity" />
        <activity android:name=".pages.MessageViewActivity" />
        <activity android:name=".pages.MessageFriendsActivity" />
        <activity android:name=".pages.AddVideoTitleActivity" />
        <activity android:name=".pages.AllRememberActivity" />
        <activity android:name=".pages.ModifyFriendRememberActivity" />
        <activity android:name=".pages.MyFriendActivity" />
        <activity android:name=".pages.GuanZhuActivity" />
        <activity
            android:name=".pages.CityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.ForgetPwActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.GuanLianShangPinActivity" />
        <activity
            android:name=".pages.webpages.DetailsOfFriendsWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pages.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="designwidth"
            android:value="750" />
        <meta-data
            android:name="designdpi"
            android:value="320" />
        <meta-data
            android:name="fontsize"
            android:value="1.0" />
        <meta-data
            android:name="unit"
            android:value="px" /> <!-- 位置 -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="dc4285450493b9851169ad13a64b4cd8" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3f4d4394729beecde1b844edf81b822a" /> <!-- 网易 -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="dc4285450493b9851169ad13a64b4cd8" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="102231967" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WAayfPYADUdqfCpN9iTFeMWrpPN1Nr2I" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yiwo.fuzhoudian.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.yiwo.fuzhoudian.ipc.provider"
            android:exported="false"
            android:process=":core" />

        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver> <!-- 云视频上传服务 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":mixpush">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.netease.nimlib.mixpush.mi.MiPushReceiver"
            android:exported="true">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.HWPushMessageReceiver">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver> <!-- _____________________________________________________________________________________ -->
        <!-- ________________________华为开发集成，推送集成 -->
        <!-- <provider -->
        <!-- android:name="com.huawei.hms.update.provider.UpdateProvider" -->
        <!-- android:authorities="com.yiwo.fuzhoudian.hms.update.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true" /> -->
        <receiver android:name="com.netease.nimlib.mixpush.hw.HWPushReceiver">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>

            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="successRateAnalytics" />
        </receiver> <!-- <service -->
        <!-- android:name="com.netease.nimlib.mixpush.hw.HWPushService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.huawei.push.action.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <receiver android:name="com.huawei.hms.support.api.push.PushReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>

        <service android:name=".services.UpdateService" /> <!-- 网易云直播 -->
        <service android:name=".wangyiyunshipin.upload.controller.UploadService" />
        <service android:name=".services.UpdateService" /> <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustNothing" -->
        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" /> <!-- 小米推送 ________________________________________________________ -->
        <service android:name="com.netease.nimlib.service.ResponseService" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":mixpush" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":mixpush" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" /> <!-- <service -->
        <!-- android:name="com.huawei.updatesdk.service.deamon.download.DownloadService" -->
        <!-- android:exported="false" /> -->
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!-- 百度地图 -->
        <service android:name=".wangyiyunshipin.upload.controller.UploadService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application> <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <permission
        android:name="com.yiwo.fuzhoudian.permission.RECEIVE_MSG"
        android:protectionLevel="signature" /> <!-- bugly -->
    <permission
        android:name="com.yiwo.fuzhoudian.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem" /> <!-- 小米推送 权限 -->
    <!-- 配置权限，已经配置过的条目则无须添加 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <permission
        android:name="com.yiwo.fuzhoudian.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" /> <!-- <uses-permission android:name="android.permission.VIBRATE"/> -->
    <!-- 华为推送权限 -->
    <!-- HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- 检测网络状态 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- 检测wifi状态 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> -->
    <!-- 为了获取用户手机的IMEI，用来唯一的标识用户。 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <uses-feature android:name="android.hardware.camera" /> <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 以下两处 {你的包名} 改开发者App的包名 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 网易云短视频 -->
    <!-- 允许挂载和反挂载文件系统 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许程序使用PowerManager WakeLocks以防止处理器休眠或者屏幕锁屏 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 声明程序使用camera和自动对焦功能 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 声明程序使用OpenGL ES 2.0 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.yiwo.fuzhoudian.permission.RECEIVE_MSG" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.yiwo.fuzhoudian.permission.PROCESS_PUSH_MSG" />
    <uses-permission android:name="com.yiwo.fuzhoudian.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

</manifest>